/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #e7b426;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    font-family: cursive, sans-serif;
    color: #7871b1;
    font-weight: bold;
  }
  nav h1 {
    text-decoration: none;
    font-family: cursive, sans-serif;
    color: #7871b1;
    font-weight: bold;
  }
  nav button{
    padding: 10px 20px;
    background-color: rgb(231, 230, 247);
    color: #7871b1;
    font-weight: 900;
}  
#conditionInput{
    padding: 10px 200px;
    background-color: rgb(231, 230, 247);
    color: #7871b1;
    font-weight: 900;
}

body {/* image de fond */
        background-image: url("decharge.jpg");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
}
h2 {
    text-decoration: none;
    font-family: cursive, sans-serif;
    color: #7871b1;
    font-weight: bold;
    font-size:4em;
    text-align: center center;
}
h3 {
    text-decoration: none;
    font-family: cursive, sans-serif;
    color: #7871b1;
    font-weight: bold;
    font-size:2em;
    text-align: center center;
    margin-right: 700px;
}
.searchCondition {
      width: 600px;
  height: 800px;
  border: 1px solid black;
  padding: 2px 4px;
  overflow-y: scroll;
  overflow-x: auto;
  margin-top: 80px;
  margin-right: 8px;
  background-color: rgb(231, 230, 247);
  text-align: right;
  position: absolute; right: 0; top: 0;
}
