/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #e7b426;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    font-family: cursive, sans-serif;
    color: #7871b1;
    font-weight: bold;
  }
  nav h1 {
    text-decoration: none;
    font-family: cursive, sans-serif;
    color: #7871b1;
    font-weight: bold;
  }
  nav button{
    padding: 10px 20px;
    background-color: rgb(231, 230, 247);
    color: #7871b1;
    font-weight: 900;
}  
#conditionInput{
    padding: 10px 20px;
    background-color: rgb(231, 230, 247);
    color: #7871b1;
    font-weight: 900;
}

body {/* image de fond */
        background-image: url("decharge.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
}
h2 {
    text-decoration: none;
    font-family: cursive, sans-serif;
    color: #7871b1;
    font-weight: bold;
    font-size:8em;
    text-align: center center;
}
h3 {
    text-decoration: none;
    font-family: cursive, sans-serif;
    color: #7871b1;
    font-weight: bold;
    font-size:4em;
    text-align: center center;
}
     